<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Relatório
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

<div style="display: flex;">
  <ion-card style="margin-right: 25px; margin-left: 25px;">
    <ion-card-header style="margin-bottom: 15px; text-align: center; font-weight: bold;">
      <ion-label class="title-card">Quantitativo geral da senhas</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Senhas Totais: {{senhasService.senhasTotal}}</ion-item>
        <ion-item>Senhas Geral: {{senhasService.senhasGeral}}</ion-item>
        <ion-item>Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-item>
        <ion-item>Senhas Exame: {{senhasService.senhasExame}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin-right: 25px; margin-left: 25px;">
    <ion-card-header style="margin-bottom: 15px; text-align: center; font-weight: bold;">
      <ion-label class="title-card">Quantitativo geral de Atendimentos</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Atedimentos Totais: {{senhasService.senhasTotal_atendidas}}</ion-item>
        <ion-item>Atedimentos Gerais: {{senhasService.senhasGeral_atendidas}}</ion-item>
        <ion-item>Atendimentos Prioritários: {{senhasService.senhasPrior_atendidas}}</ion-item>
        <ion-item>Atendimntos de Exame: {{senhasService.senhasExame_atendidas}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>

  <ion-card style="margin: 25px;">
    <ion-card-header style="margin-bottom: 15px; text-align: center; font-weight: bold;">
      <ion-label class="title-card">Relatótio das Senhas</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let senha of senhasService.senhas">
        <ion-list-header color="primary">{{senha.nome}}</ion-list-header>
        <ion-item>Numeração: {{senha.num}}</ion-item>
        <ion-item>Tipo: {{senha.tipo}}</ion-item>
        <ion-item>Data/Hora Emissão: {{senha.DH_Emi}}</ion-item>
        <ion-item>Data/Hora Atendimento: {{senhasService.atendimento[senhasService.sinc(senha.nome)]?.DH_aten}}</ion-item>
        <ion-item>Guichê Responsável: {{senhasService.atendimento[senhasService.sinc(senha.nome)]?.guiche}}</ion-item>
      </ion-list>
        
      
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 25px;">
    <ion-card-header style="margin-bottom: 15px; text-align: center; font-weight: bold;">
      <ion-label class="title-card">Relatório do TM:</ion-label>
    </ion-card-header>
    <ion-card-content>
      <p>Atendimento Geral: {{senhasService.tm_sg}} Segundos</p>
      <p>Atendimento Prioritário: {{senhasService.tm_sp}} Segundos</p>
    </ion-card-content>
  </ion-card>

</ion-content>
