<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CLIENTES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-input readonly="true" label="Senha: " value="{{ inputNovaSenha }}"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button size="large" expand="block" (click)="gerarSenha('SG')">Senha Geral</ion-button>
      <ion-button size="large" expand="block" (click)="gerarSenha('SP')">Senha Prioritária</ion-button>
      <ion-button size="large" expand="block" (click)="gerarSenha('SE')">Senha Exame</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>