<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="margin-left: 25px;">
    <ion-card-content style="text-align: center;">
      <ion-label>Este aplicativo foi desenvolvido como parte da avaliação para a disciplina código de alta performance mobile.</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 25px;">
    <ion-card-header class="title-card">
      Membros do Grupo:
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\breno.jpg"></ion-avatar>
          <ion-label>Breno Almeida - 01527793</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\eduardo.jpg"></ion-avatar>
          <ion-label>Eduardo Negri - 01224564</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\benicio.jpg"></ion-avatar>
          <ion-label>Lucas Benício - 01506393</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\gustavo.jpg"></ion-avatar>
          <ion-label>Luiz Gustavo - 01515839</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\marcus.jpg"></ion-avatar>
          <ion-label>Marcus Eduardo - 01533942</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\rhyan.jpg"></ion-avatar>
          <ion-label>Rhyan Carlos - 01539352</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\rodin.jpg"></ion-avatar>
          <ion-label>Rodin Sarmento - 01507133</ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start"><img src=".\assets\images\zaque.jpg"></ion-avatar>
          <ion-label>Zaque Neves - 01539166</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
