<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Membros do grupo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <p>contribuíram com este projeto:</p>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start"><ion-icon name="person-outline" class="cards"></ion-icon></ion-thumbnail>
      <ion-label>Gabriel Barbosa - 01566611</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start"><ion-icon name="person-outline"></ion-icon></ion-thumbnail>
      <ion-label>Gabriel Pacheco - 01427378</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start"><ion-icon name="person-outline"></ion-icon></ion-thumbnail>
      <ion-label>George José - 01430653</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start"><ion-icon name="person-outline"></ion-icon></ion-thumbnail>
      <ion-label>Israel Viegas- 01433868</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start"><ion-icon name="person-outline"></ion-icon></ion-thumbnail>
      <ion-label>Marcos Antônio - 01405752</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start"><ion-icon name="person-outline"></ion-icon></ion-thumbnail>
      <ion-label>Pedro Cardoso - 01403875</ion-label>
    </ion-item>
  </ion-card>
</ion-content>