<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Batalhar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="pokemonData">
    <ion-card-header>
      <ion-card-title>
        {{ pokemonData.name }}
      </ion-card-title>
      <ion-card-title *ngIf="this.pokemonDataStorage.pokemonList"
      [ngStyle]="{'color': getColor()}">
      {{ getResult() }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img alt='' [src]="pokemonImageUrl" style="height: 500px; width: auto;"></ion-img>
      <ion-list>
        <ion-item>
          <ion-label>Habilidades: {{ pokemonData.abilities.length }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Altura: {{ pokemonData.height / 10  }} m</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>peso: {{ pokemonData.weight / 10  }} Kg</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addPhotoToGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>