<ion-header [translucent]="true">
  <ion-toolbar class="cabecario">
    <ion-title>
      Por favor, escolha o tipo de senha:
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="tudo">

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md=6>
       
        <ion-button (click)="senhasService.novaSenha('SP')" style=" margin-left: 30%; position: relative; align-self: flex-start; text-align: center; justify-content: flex-start; width: 40%; border-radius: 10px;
    " color="danger">Senha Prioritaria</ion-button>

        
      </ion-col>



      <ion-col size="12" size-md=6>
        <ion-button (click)="senhasService.novaSenha('SE')" style="width: 40%; margin-top: 10%; margin-left:-20%;text-align: center; border-radius: 10px;" color="success">Retirada de Exames</ion-button>
      </ion-col>

      <ion-col size="12" size-md=6>
        
          
        <ion-button (click)="senhasService.novaSenha('SG')" style="border-radius: 10px; width: 40%; text-align: center; margin-left: 133%; top: 70%;color: white;"color="warning">Senha Geral</ion-button>

        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="tudo">
  <div class="lista">
    <ion-list>
      <ion-item class="quadrado">
        <ion-label>
          <h2 class="titulo">Ultimas senhas chamadas</h2>
          <p class="par" *ngFor="let senha of senhasService.mostrar">{{ senha }}</p>
          <!-- Conseguimos fazer a ordem, mas não soubemos fazer a exibição na tela de últimas chamadas -->
        </ion-label>
      </ion-item>


    </ion-list>
  </div>
</ion-content>