<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RELATÓRIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-item style="font-weight: bold;">Total de senhas emitidas: {{senhasService.senhasTotal}}</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item style="font-weight: bold;">Senhas Gerais: {{senhasService.senhasGeral}}</ion-item>
      <ion-list>
        <ion-item *ngFor="let senha of this.senhasSG">
          <ion-label> {{ senha }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item style="font-weight: bold;">Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-item>
      <ion-list>
        <ion-item *ngFor="let senha of this.senhasSP">
          <ion-label> {{ senha }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item style="font-weight: bold;">Senhas Exames: {{senhasService.senhasExame}}</ion-item>
      <ion-list>
        <ion-item *ngFor="let senha of this.senhasSE">
          <ion-label> {{ senha }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
