body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  ion-card {
    margin: 8px;
  }
  
  ion-button {
    margin-bottom: 8px;
  }
  
  ion-toolbar {
    padding: 8px;
  }
  
  ion-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* First card styles */
  
  ion-card:first-of-type {
    text-align: center;
  }
  
  ion-input:first-of-type {
    width: 100%;
  }
  
  /* Second card styles */
  
  ion-card:last-of-type {
    text-align: center;
  }
  
  ion-card-header:last-of-type {
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-list {
    margin-top: 8px;
  }
  
  ion-item {
    padding: 4px;
  }

  .custom-button1 {
    --background: #13A81A;
    background-color: #13A81A;
    padding: 4px;
    border-radius: 10px;
  }

  .custom-button2 {
    --background: #A81315;
    background-color: #A81315;
    padding: 4px;
    border-radius: 10px;
  }

  .custom-button3 {
    --background: #020F80;
    background-color: #020F80;
    padding: 4px;
    border-radius: 10px;
  }
  