.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-title {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
  color: black;
}
