* {
  font-family: "Poppins", sans-serif;
}

ion-card {
  margin: 2px 0;
  border: none;
  border-radius: 0;
}

ion-input {
  text-align: center;
  margin: auto;
  width: 100%;
}

ion-button {
  margin: 0 5;
}

ion-col {
  padding: 0;
}

#wipe-button {
  margin-bottom: 12px;
}

.senha {
  font-size: 16px;
  margin: 15px 0;
}

.button-icon {
  margin-right: 8px;
}
