<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Projeto 1 - Mobile  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
    Este aplicativo foi desenvolvido como parte da avaliação para a diciplina de Desenvolvimento Móvel.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Contribuiram com este projeto:
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Diogo José - 01559424</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Hiago Lucas - 01567521</ion-label>
        </ion-item> 
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
 