<ion-header>
  <ion-toolbar>
    <ion-title class="titulo4">Relatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="tamanho">
  <ion-row>
    <ion-col class="branca">Tipos</ion-col>
    <ion-col class="amarelo">SG</ion-col>
    <ion-col class="verde">SE</ion-col>
    <ion-col class="vermelho">SP</ion-col>
    <ion-col class="branca">Total</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="numeros">Emitido</ion-col>
    <ion-col class="numeros">{{senhasService.senhasGeral}}</ion-col>
    <ion-col class="numeros">{{senhasService.senhasExame}}</ion-col>
    <ion-col class="numeros">{{senhasService.senhasPrior}}</ion-col>
    <ion-col class="numeros">{{senhasService.senhasTotal}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="numeros">Atendido</ion-col>
    <ion-col class="numeros">{{senhasService.atendidosGeral}}</ion-col>
    <ion-col class="numeros">{{senhasService.atendidosExame}}</ion-col>
    <ion-col class="numeros">{{senhasService.atendidosPrior}}</ion-col>
    <ion-col class="numeros">{{senhasService.atendidosTotal}}</ion-col>
  </ion-row>
</ion-grid>

  <ion-title class="titulo2"> Horario de Emissão </ion-title>
  <ion-grid class="tamanho2">

    <ion-card>
      <ion-card-content>
        <ion-label>Senhas já emitidas:</ion-label>
        <ion-list> 
          <ion-item class="info-date" *ngFor="let senha of senhasService.senhasArray['SE']">
            <!-- Não conseguimos implementar de forma 100% funcional nem a hora de saída, nem o guiche -->
          - Senha: {{ senha.senhaI }}, Emitida em: {{ senha.hora }}, Data: {{ senha.data }}
          </ion-item>
          <ion-item class="info-date" *ngFor="let senha of senhasService.senhasArray['SG']">
  
          - Senha: {{ senha.senhaI }}, Emitida em: {{ senha.hora }}, Data: {{ senha.data }}
          </ion-item>
          <ion-item class="info-date" *ngFor="let senha of senhasService.senhasArray['SP']">
  
          - Senha: {{ senha.senhaI }}, Emitida em: {{ senha.hora }}, Data: {{ senha.data }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  