.amarelo {
    background-color: yellow;
    color:black;
    width: 10%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.verde {
    background-color: green;
    color:black;
    width: 10%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.vermelho {
    background-color: red;
    color:black;
    width: 10%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.tudo {
    --background: #878681;
}

.branca {
    background-color: white;
    color:black;

    width: 10%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.ion-grid.md.hydrated {
    border-radius: 20px;




}

.tamanho {
    width: 30%;
    margin-top: 5px;


}

.numeros {
    background-color: rgb(196, 178, 178);
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.titulo {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.tamanho2 {
    width: 30%;
    position: relative;
    margin-top: 20px;
}

.titulo2 {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.tamanho3 {
    width: 30%;
    position: relative;
    margin-top: 20px;
}
.titulo3{
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.titulo4{
    text-align: center;
    font-size: 50px;
}