<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Relatórios de Senhas</ion-card-title>
      <ion-card-subtitle>
        Registro acerca das senhas prioritárias e de exame
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let tipoSenha of informacoesRelatorio | keyvalue">
          <ion-label style="font-family: 'Poppins', sans-serif">
            {{ tipoSenha.key === 'SE' ? 'Senhas de exame' : tipoSenha.key ===
            'SG' ? 'Senhas gerais' : tipoSenha.key === 'SP' ? 'Senhas
            prioritárias' : '' }}: {{ tipoSenha.value }}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-col>
          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" (click)="atualizarRelatorio()">
              <ion-icon
                class="button-icon"
                name="refresh"
                aria-hidden="true"
              ></ion-icon>
              Atualizar Relatório
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Excluir Relatório </ion-card-title>
      <ion-card-subtitle>
        Esta ação excluirá permanentemente todas as senhas registradas, limpando
        a tabela senhas do banco de dados.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-col>
          <ion-row class="ion-justify-content-center">
            <ion-button
              fill="solid"
              color="danger"
              shape="round"
              (click)="limparTabelaSenhas()"
            >
              <ion-icon
                class="button-icon"
                name="trash"
                aria-hidden="true"
              ></ion-icon>
              Excluir relatório
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
