<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-button (click)="atualizarRelatorio()"
        >Atualizar Relatório</ion-button
      >
      <ion-list>
        <ion-item *ngFor="let tipoSenha of informacoesRelatorio | keyvalue">
          <ion-label>{{ tipoSenha.key }}: {{ tipoSenha.value }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button (click)="limparTabelaSenhas()"
        >Limpar Tabela de Senhas</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
