.custom-button {
    --background: #020F80;
    background-color: #020F80;
    padding: 4px;
    border-radius: 10px;
    margin-top: 20px;
    width: 350px;
    align-items: center;
  }

  ion-title {
    font-weight: bold;
  }

  ion-card-header {
    align-items: center;
  }
  .image-totem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-totem {
    background-color: #243A69;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .custom-totem p {
    margin: 10px 0;
    text-align: center;
  }
  
  .person-box {
      background-color: #1FAA81;
      padding: 2px;
      border-radius: 5px;
      text-align: center;
      min-height: 200px;
      min-width: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;
      color: white;
    }
  
  .rounded-image {
    border-radius: 50%;
    overflow: hidden;
  }
  
  .title-h2 {
    text-align: center;
    background-color: #243A69;
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    color: white;
  }
  
  .person-name {
      margin-bottom: 5px;
  }  
  